/* https://nationalparktypeface.com/Download */
@font-face {
  /* font-family: NationalParkRegular; */
  /* src: url("misc/NationalPark/nationalparkregular.otf") format("otf"); */
  /* src: url("misc/NationalPark/nationalparkregular.otf"); */
  font-family: nationalparkregular;
  src: url(misc/NationalPark/nationalpark-regular.otf);
}

@font-face {
  font-family: nationalparkoutline;
  src: url(misc/NationalPark/nationalpark-outline.otf);
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }

  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }

  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }

  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}

* {
  /* font-family:nationalparkregular; */
  font-family: Arial;
  /* font-family: 'Averia Libre'; */
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.background {
  background-color: #fff;
  height: 100%;
  width: 100%;
  padding-top: 0%;
  position: fixed;
  z-index: -1;
}

.bgimg {
  min-height: 100%;
  width: 100%;
}

.roundedbutton {
  color: white;
  display: inline-block;
  font-size: 14pt;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  border: 2px solid white;
  border-radius: 10000px;
  margin-top: 20px;
}

.roundedbutton:hover {
  background-color: white;
  color: #333;
  border: 2px solid white;
  transition: 0.5s;
}

.pagesection {
  padding-top: 60px;
  padding-bottom: 10px;
  width: 100%;
}

#home {
  color: white;
  padding-top: 80px;
  margin-bottom: 200px
}

#about_me {
  color: white;
  background-color: #333;
}

.about_me_cont {
  margin-left: 20%;
  width: 60%;
  padding: 10px 0px 20px 0px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 5px;
}

#projects {
  background-color: white;
  color: #333;
}

#education {
  background-color: #333;
  color: white;
}

#work_experience {
  background-color: #333;
  color: white;
}

#login {
  color: white;
  background-color: #333;
}

.landing_image {
  margin-top: 10px;
}

.about_me_img {
  border-radius: 50%;
  border: 2px solid white;
}

h1 {
  color: white;
  font-weight: bolder;
  font-size: 36pt;
  letter-spacing: 2px;
  margin-bottom: 10px; 
}

h2 {
  font-size: 54pt;
  font-weight: bolder;
  margin-bottom: 10px;
}

h3 {
  font-size: 20pt;
  font-weight: bold;
}

p {
  font-size: 12pt;
  font-weight: lighter;
}

@media only screen and (max-width: 950px) {
  .about_me_cont {
    margin-left: 2%;
    width: 96%;
  }
  
  h1 {
    font-size: 34pt;
  }

  h2 {
    font-size: 32pt;
  }

  h3 {
    font-size: 20pt;
    font-weight: bolder;
  }

  p {
    font-size: 9pt;
  }
}

.card_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 5px;
  max-width: 1080px;
  margin: 0 auto 30px;
  padding: 2%;
}

.card {
  position: relative;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5);
  border-radius: 5px;
  background-color: #333;
  color: white;
}

.box_overlay {
  opacity: 0%;
  border-radius: 5px;
  background-color: #333;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.box_overlay>h3 {
  margin-top: 25%;
}

.box_overlay>p {
  color: lightgray;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.box_overlay:hover {
  opacity: 95%;
  /* filter: blur(1px); */
  /* transition: filter 0.3s ease-in; */
  /* transform: scale(1.1); */
}

.hover_contentbox_text {
  text-decoration: none;
  color: white;
}

.hover_contentbox_text:hover {
  text-decoration: none;
  color: white;
}

.hover_contentbox_text>h3 {
  margin-top: 20px;
}

.hover_contentbox_text>p {
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.hover_contentbox_text>img {
  display: block;
  border-radius: 0px 0px 5px 5px;
}

.section_item {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15%;
  margin-right: 15%;
  padding: 20px;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
  border-radius: 5px;
  background-color: white;
  color: #333;
}

@media only screen and (max-width: 600px) {
  .section_item {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 2%;
    margin-right: 2%;
    padding: 20px;
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
    border-radius: 5px;
    background-color: white;
    color: #333;
  }
}

.item_icon {
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
}

.item_icon>img {
  border-radius: 2px;
}

.item_text {
  width: 90%;
  display: inline-block;
}

.item_text_h {
  font-weight: bold;
}

.item_text_hg {
  color: grey;
}

.item_text_hr {
  color: grey;
  float: right;
}

footer {
  background-color: #fff;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer_text {
  margin-top: 20px;
  color: grey;
}

.media_button {
  color: #333;
  transition: 0.5s;
}

.media_button:Hover {
  color: grey;
}

/* ========================================================================================================================================== */
/* ========================================================================================================================================== */
/* ========================================================================================================================================== */
/* ============================================== */
/* =================== Navbar =================== */
/* javascript selection activation */
.selected {
  text-decoration: none;
  color: #333 !important;
  background-size: 100% 100%;
  animation: spring 300ms ease-out;
  font-weight: bold;
}

.topnav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  position: fixed;
  z-index: 15;
  background-color: #fff;
  opacity: 0.9;
}

.navlink {
  padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: rgb(150, 150, 150);
  margin: auto;
  text-decoration: none;
}

.navlink:hover {
  background-color: transparent;
  text-decoration: none;
  color: #333;
  background-size: 100% 100%;
  animation: spring 300ms ease-out;
  /* text-shadow: 0 -1px 0 #333; */
  font-weight: bold;
}

/* Hamburger */
.icon {
  display: none;
  right: 1;
  top: 0;
  padding-top: 11px;
  padding-right: 11px;
}

.icon:hover {
  background-color: transparent;
}

/* Hambuger - Icon 1 */
#ham-bar1,
#ham-bar2,
#ham-bar3,
#ham-bar4 {
  width: 40px;
  height: 27.01px;
  position: relative;
  margin: 0px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#ham-bar1 span,
#ham-bar3 span,
#ham-bar4 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #333;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Icon 3 */
#ham-bar3 span:nth-child(1) {
  top: 0px;
}

#ham-bar3 span:nth-child(2),
#ham-bar3 span:nth-child(3) {
  top: 14px;
}

#ham-bar3 span:nth-child(4) {
  top: 28px;
}

#ham-bar3.open span:nth-child(1) {
  top: 28px;
  width: 0%;
  left: 50%;
}

#ham-bar3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#ham-bar3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#ham-bar3.open span:nth-child(4) {
  top: 28px;
  width: 0%;
  left: 50%;
}

/* if screen is less than 950 */
@media only screen and (max-width: 950px) {

  /* === nav links === */
  #myLink1,
  #myLink2,
  #myLink3 {
    display: none;
  }

  .topnav {
    display: inline;
    overflow: hidden;
    background-color: #fff;
  }

  .navlink {
    color: rgb(150, 150, 150);
    padding: 14px 16px;
    text-decoration: none;
    display: block;
  }

  .navlink:hover {
    background-color: transparent;
    text-decoration: none;
    color: #333;
  }

  /* Hamburger */
  .ham-bar3 {
    display: none;
  }

  .icon {
    display: inline;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 15;
  }

  .icon:hover {
    background-color: transparent;
  }
}

/* =================== Navbar =================== */
/* ============================================== */
/* ========================================================================================================================================== */
/* ========================================================================================================================================== */
/* ========================================================================================================================================== */




/* ========================================================================================================================================== */
/* ========================================================================================================================================== */ 
/* module login   */


/* * {
color: black;
} */
/* 
body {
font-family: Arial, Helvetica, sans-serif;
} */

/* Full-width input fields */
input[type=text], input[type=password] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}

/* Set a style for all buttons */
button {
background-color: #4CAF50;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
/* width: 100%; */
}

button:hover {
opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
width: auto;
padding: 10px 18px;
background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
text-align: center;
margin: 24px 0 12px 0;
position: relative;
}

img.avatar {
width: 40%;
border-radius: 50%;
}

img.logo {

margin-top: 20px;
width: 15%;
/* border-radius: 50%; */
}

.input_container {
padding: 16px;
}

span.psw {
float: right;
padding-top: 16px;
}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
/* z-index: 1; Sit on top */
z-index: 20; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
color: #333;
/* padding-top: 60px; */  
}

/* Modal Content/Box */
.modal-content {
background-color: #fefefe;
/* margin: 5% auto 15% auto; 5% from the top, 15% from the bottom and centered */
margin: 4% auto 15% auto;  /*XX% from the top, 15% from the bottom and centered */
border: 1px solid #888;
width: 70%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
position: absolute;
right: 25px;
top: 0;
color: #000;
font-size: 35px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: red;
cursor: pointer;
}

/* Add Zoom Animation */
.animate {
-webkit-animation: animatezoom 0.6s;
animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
from {-webkit-transform: scale(0)} 
to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
from {transform: scale(0)} 
to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
span.psw {
 display: block;
 float: none;
}
.cancelbtn {
 width: 100%;
}
}


